.centralizar{
    text-align: center;
}
.centralizar{
    text-align: center;
}
.centralizar{
    text-align: center;
}
h4{
    font-size: 20px;
    color: red
}
.citacao{
    font-size: 20px;
    font-style: italic;
}
.paint{
    color: red;
    font-size: 25px;
}
.paint{
    color: red;
    font-size: 25px;
}
.paint{
    color: red;
    font-size: 25px;
}
.paint{
    color: red;
    font-size: 25px;
}
.centralizar{
    text-align: center;
}
.centro{
    text-align: right;
}
.imagem{
    text-align: center;
}
.h5{
    text-align: center;
}
.decorar{
    text-align: center;
}